.HorizontalSlider {
    overflow: hidden;
    width: 100vw;

    .slide-0 .bg { @include background-image('aw.jpg'); }
    .slide-1 .bg { @include background-image('aw.jpg'); }
    .slide-2 .bg { @include background-image('aw.jpg'); }


    .controls {
        color: $red;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;

        p {
            cursor: pointer;
        }
        svg {
            fill: $red;
            vertical-align: middle;
        }

        .disabled {
            color: $gray;
            cursor: default;

            svg {
                fill: $gray;
            }
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
    .slides > div {
        display: inline-block;
        position: relative;
        height: 100vh;
        width: 100vw;
    }
}

#HorizontalSlider {
    transform: translate3d(0, 0, 0);
}