.HorizontalSlider {
    overflow: hidden;
    width: 100vw;

    .container {
        white-space: nowrap;

        .slide {
            white-space: normal;
        }
    }
    .slides > div {
        display: inline-block;
        position: relative;
        height: 100vh;
        width: 100vw;
    }
}

#HorizontalSlider {
    transform: translate3d(0, 0, 0);
}