.Slide2 {
    .bg {
        background: 50% 50% / cover no-repeat;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .container {
    }
    .content {
        background-color: rgba($white, .8);
        color: $black;
    }
    h2 {
        margin-bottom: 10px;
    }
}