.Slide {
    min-height: 100vh;
    padding: 1px 0;
    position: relative;
    z-index: 1;

    .content {
        align-items: center;
        display: flex;
        justify-content: center;
        left: 50%;
        min-height: 200px;
        padding: 1px 20px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        z-index: 1;

        .annotation {
            color: #a3a3a5;
            text-align: center;
        }
    }

    h2 {
        text-align: center;
    }

    @include media(phablet) {
        padding: 0;

        .content {
            margin: 0;
            padding: 1px 50px;
            text-align: center;
            width: 76%;
        }
    }
}