.Slide3 {
    &.expanded {
        z-index: 9;
    }

    .collection {
        .cta {
            margin: 0;

            a {
                display: block;
                margin-bottom: 10px;
            }
            svg {
                margin-top: 10px;
            }
        }
    }
    .content {
        background-color: rgba($white, .8);
        color: $black;

        svg {
            height: auto;
            max-width: 100%;
        }
    }
    .cta {
        margin: 20px 0;
        text-align: center;
        text-transform: lowercase;

        a {
            color: $red;
            font-weight: 700;
            margin: 0 10px;
            text-decoration: none;
        }
    }

    @include media(phablet) {
        .cta {
            margin-top: 50px;
        }
    }
}