$desktop-large: "only screen and (min-width: #{$container--desktop + 1})" !global;
$desktop: "only screen and (min-width: #{$container--tablet + 1})" !global;
$tablet: "only screen and (min-width: #{$container--phablet + 1})" !global;
$phablet: "only screen and (min-width: #{$container--mobile + 1})" !global;
$mobile: "only screen" !global;

@mixin media($type) {
	$media: $mobile;
	@if $type == desktop-large {
		$media: $desktop-large;
	} @else if $type == desktop {
		$media: $desktop;
	} @else if $type == tablet {
		$media: $tablet;
	} @else if $type == phablet {
		$media: $phablet;
	} @else if $type == big-vh {
		$media: $big-vh;
	}

	@media #{$media} {
		@content;
	}
}